main {
  max-width: 900px;
  margin: 20px auto;
}
a {
  color: #3082f5;
  text-decoration: underline;
}
.section {
  margin-top: 30px;
}
.content {
  margin: 10px 0;
}
.box {
  margin: 10px 0;
  padding-top: 10px;
  border-top: 2px solid #8CD790;
}
.wrap {
  margin: 10px 0;
}
.title {
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
  background: #8CD790;
}
.item {
  font-weight: bold;
}
