main {
  max-width: 900px;
  margin: auto;
}
span {
  text-decoration: underline;
  font-weight: bold;
}

.top {
  padding: 10px 20px;
  margin: 20px 0;
  border: solid 1px #000;
}
.text {
  margin-left: 1rem;
  text-indent: -1rem;
}