main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
h2 {
  padding-top: 20px;
}
h3 {
  padding: 20px;
}
img{
  max-width: 80%;
  height: auto;
}
.info {
  text-align: center;
}
.top { 
  list-style-type: circle;
  list-style-position: inside;
  border: solid 1px #000;
  outline: solid 1px #000; 
  outline-offset: 1px; 
  margin: 2px;
  padding: 10px;
}

.desc {
  list-style: disc;
  padding-left: 20px
}
.caption {
  text-align: right;
  padding-right: 60px;
}
.foot {
  padding: 20px;
}