main {
  max-width: 900px;
  margin: auto;
  padding: 10px;
}
h1 {
  font-size: 30px;
  }

table,th,td {
  border: 1px black solid;
  border-collapse: collapse;
  padding:10px 5px;
}
th {
  text-align: center;
  vertical-align: middle;
}

.section {
  writing-mode: vertical-rl;
  text-align: center;
  vertical-align: middle;
}

.group {
  width: 50px;
}

.name {
  width: 600px;
}

.info {
  width: 50px;
}

.cat {
  width: 110px;
}

.name-text {
  border-bottom: none;
}
.name-left {
  width: 40px;
  border-top: none;
}

.info-text {
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width:800px) {
  h1 {
    font-size: 20px;
    }
  
  table,th,td {
    padding:5px 3px;
    font-size: 15px;
  }
  
  .section {
    writing-mode: horizontal-tb;
    vertical-align: baseline;
}
  .group {
    width: auto;
  }
  
  .name {
    width: auto;
  }
  
  .info {
    width: auto;
  }
  
  .cat {
    width: auto;
  }
  
  .name-left {
    width: auto;
  }
  
}