main {
  max-width: 900px;
  margin: auto;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  }

table,th,td {
  border: 1px black solid;
  border-collapse: collapse;
  padding:5px;
}

.title {
  text-align: center;
}
.primary {
  max-width: 85px;
}
.secondary {
  max-width: 160px;
}